@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Newsreader:opsz,wght@6..72,400;6..72,500&family=Poppins:wght@400;500;700;800&display=swap');
.professionals-feed-container {
  height:fit-content;
  text-align: center;
  overflow-x: auto;
  /* position: relative;
  overflow: auto; */
}
.professionals-feed-container h1 {
  /* position: sticky;
  top: 0; */
  font-family: 'Newsreader', serif;
  padding: 2rem 0 0;
  font-weight: 800;
  color: black;
  letter-spacing: 2px;
  font-size: 2.5rem;
}
.professionals-feed-container h1 span {
  color: var(--color-primary-variant);
}
.professionals-contents {
  margin: 1rem 0.5rem 4rem;
  display: flex;
  margin-top: 7rem;
}
.professionals-card {
  height: 160px;
  margin: 20px;
  background-color: #FFFF;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1rem 5rem;
  text-align: center;
  cursor: pointer;
}

.professionals-card:hover {
  box-shadow: var(--color-primary-variant) 0px 30px 20px, var(--color-primary-variant) 0px -12px 30px, var(--color-primary-variant) 0px 4px 6px, var(--color-primary-variant) 0px 12px 13px, var(--color-primary-variant) 0px -3px 5px;
  transform: scale(1.08);
}

.professionals-image {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -50%;
  flex: 0 0 auto; 
  z-index: 100;
}

.professionals-image img {
  width: 120px;
    height: 120px;
    border: 3px solid blue;
    border-radius: 50%;
}

.professionals-text{
  position: relative;
  top: -50%;
}

.btn a {
  color: #fff;
}