.box {
    margin-top: 2rem;
}
.slider-wrapper {
    margin: 0 5vw;
    position: relative;
    height: 70vh;
    overflow: hidden;
    border-radius: 20px;
}

.slide {
    height: 70vh;
    background-size: cover !important;
}

/* .slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.slide::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)); */
    bottom: 0;
    left: 0;
}

.previousButton {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: url('../../assets/carousel/fast-backward.png') no-repeat center center / 18px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
}

.nextButton {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: url('../../assets/carousel/fast-forward.png') no-repeat center center / 18px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
}

.slider-content {
    color: #FFFFFF;
}

.slider-content .inner {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 67%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider-content .inner a {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.carouselBtn {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.slider-content .inner h1 {
    font-weight: 900;
    /* margin: 0 auto; */
    max-width: 840px;
    font-size: 40px;
    line-height: 1;
}

/* .slider-content .inner p {
    color: var(--color-white);
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto 30px;
    max-width: 640px;
} */

/* @media screen and (max-width:913px) {
    .projects h1{
        font-size: 4vw;
    }
    .box{
        width: 63vw;
    }
}

@media screen and (max-width:700px) {
    .box{
        width: 64vw;
    }
    .slider-content .inner h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:580px) {
    .slider-content .inner a {
        font-size: 12px;
        padding: 5px;
    }

    .slider-content .inner .proj_btn {
        gap: 1rem;
    }

    .previousButton {
        left: 5px;
    }

    .nextButton {
        right: 5px;
    }
}
@media screen and (max-width:500px) {
    .projects{
        margin-bottom: 30%;
    }
    .box::before{
       height: 50%;
    }
    .projects h1{
        font-size: 6vw;
    }
    .box{
        width: 65vw;
    }
}

@media screen and (max-width:460px) {
    .box{
        width: 91vw;
        height: 63vh;
    }

    .slider-wrapper {
        width: 85vw;
    }
    .slider-content .inner h1 {
        font-size: 25px;
    }

    .slider-content .inner p {
        font-size: 13px;
    }
} */

.slide h1 {
    transition: all 0.3s ease;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
}

.slide a {
    transition: all 0.3s ease;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
}

.slide p {
    transition: all 0.3s ease;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
}

.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,
.slide.animateIn.previous a,
.slide.current a,
.slide.animateIn.next a,
.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p,
.slide.animateIn.previous section *,
.slide.current section *,
.slide.animateIn.next section * {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
    opacity: 1;
}

.slide.animateIn.previous p,
.slide.animateIn.next p {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.slide.animateIn.previous a,
.slide.animateIn.next a {
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
}

.slide.animateOut h1 {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.slide.animateOut p {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}