.community-box {
max-width: 600px;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(15px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: Arial, sans-serif;
  color: #333; /* Text color for the component */
  transition: all 0.3s;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

/* Scroll Bar css */
.message-container {
  max-height: 400px;
  min-width: 20px;
  overflow-y: auto;
  margin-bottom: 20px;
  text-align: center;
}

.message {
  background-color: #fff;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  justify-content: center;
  /* border: 1px solid #ccc; */
}

.input-container {
  display: flex;
  align-items: center;
}

textarea[type="text"] {
  flex: 1;
  padding: 10px;
  margin: 0 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.notice {
    color: rgb(22, 134, 59);
    margin: 1rem;
    font-weight: 500;
    text-align: center;
    animation: breathing 2s infinite;
  }
  @keyframes breathing {
    0% {
      opacity: 0.4; /* Initial opacity value */
    }
    50% {
      opacity: 1;   /* Maximum opacity value */
    }
    100% {
      opacity: 0.4; /* Back to initial opacity value */
    }
  }

  .timestamp {
    color: rgb(179, 38, 38);
    margin: 0 auto 1rem;
    font-size: 0.9rem;
  }
  