@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Newsreader:opsz,wght@6..72,400;6..72,500&family=Poppins:wght@400;500;700;800&display=swap');
.news-feed-container {
  /* width: 90%; */
  width: 70%;
  height: fit-content;
  background: url(../../assets/images/news-bg_1.jpg);
  background-repeat: no-repeat;
  margin: 4rem auto;
  text-align: center;
  /* overflow-x: auto; */
  /* padding: 10px 0; */
  border-radius: 20px;
}
.news-feed-container h1 {
  font-family: 'Newsreader', serif;
  padding: 2rem 0 0;
  font-weight: 800;
  color: #fff;
  letter-spacing: 2px;
  font-size: 2.5rem;
}
.news-feed-container span {
  color: rgb(204,136,9);
}
.slider {
  height: 550px;
}
.news-card {
  /* width: 400px; */
  background: no-repeat center center;
  height: 900px;
  margin: auto;
  /* background-color: #fff; */
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}
.news-card:hover {
  /* box-shadow: rgb(204, 139, 96, 0.8) 0px 54px 55px, rgb(204, 139, 96, 0.8) 0px -12px 30px, rgb(204, 139, 96, 0.8) 0px 4px 6px, rgb(204, 139, 96, 0.8) 0px 12px 13px, rgb(204, 139, 96, 0.8) 0px -3px 5px; */
  transform: scale(1.04);
  transition: all 0.4s;
}
.news-image {
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 auto; /* Image won't grow or shrink */
  margin-right: 20px; /* Add spacing between image and text */
}
.news-image img {
  border: 5px solid rgb(204,136,9);
  width: 400px;
  height: 220px;
  border-radius: 20px;
}
.pub-date {
  color: #fff;
}
.news-text {
  font-family: 'Newsreader', serif;
  color: #fff;
}

.read-more {
  padding: 1rem;
  margin: 0.5rem 0;
  border-color: rgb(204, 139, 96); /* Set your desired border color */
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(204, 139, 96) inset, 0 0 0 0 rgb(204, 139, 96);
  transition: all 150ms ease-in-out;
}
.read-more a {
  color: #fff;
}
.read-more:hover {
  box-shadow: 0 0 10px 0 rgb(204, 139, 96) inset, 0 0 10px 4px rgb(204, 139, 96);
}
.read-more:hover a {
  color: rgb(204, 139, 96);
}
